<div class="main-container">
    <!-- form title/heading here -->
    <div class="title">
        <span>Signup</span>
    </div>
    <!-- form title/heading ends -->
    <!-- signup form here -->
    <div class="form-items">
        <form method="POST">
            <!-- error/warning message -->
            <div class="warning">
                <span>Error!</span>
            </div>
            <!-- success message -->
            <div class="success">
                <span>Success!</span>
            </div>

            <input type="text" name="firstName" placeholder="First Name" />
            <input type="text" name="lastName" placeholder="Last Name" /><br>
            <input type="email" name="email" placeholder="Email..." />
            <input type="date" name="dob" /><br>
            <input type="password" name="password" placeholder="Password..." />
            <input type="password" name="confirm-password" placeholder="Confirm Password..." /><br>
            <button type="submit" name="signup">Signup</button>
        </form>
    </div>
    <!-- signup form ends -->
    <!-- login link here -->
    <div class="link">
        <span>Already registered? <a href="../Login/login.html">Login</a></span>
    </div>
    <!-- create account ends -->
</div>