.operation-container {
    float: left;
    width: 100%;
}

.buttons-cover {
    float: right;
    padding-top: 2em;
    padding-left: 0.5em;
}

.user-logo {
    float: left;
    padding-top: 2em;
    padding-left: 0.5em;
    height: 25px;
    line-height: 25px;
}

.user {
    float: left;
    padding-top: 2em;
    padding-left: 0.5em;
    height: 25px;
    line-height: 25px;
    color: antiquewhite;
}

.userlogo {
    background-color: rgb(238, 129, 12);
    width: 25px;
    height: 25px;
    line-height: 25px;
    font-size: 11pt;
    text-align: center;
    border-radius: 99px;
    color: rgb(0, 0, 07, 100);
}

.buttons {
    background-color: rgb(238, 129, 12);
    width: 80px;
    height: 25px;
    line-height: 25px;
    font-size: 10pt;
    text-align: center;
    border-radius: 5px;
    color: rgb(5, 7, 28);
}

.buttons:hover {
    background-color: rgb(238, 110, 12);
}

.outline {
    border-style: solid;
    border-width: 1.5px;
    border-radius: 5px;
    border-color: rgb(63, 63, 136);
    float: left;
    width: 98%;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.table-title {
    text-indent: 10px;
    color: antiquewhite;
    padding-bottom: 1em;
}

.add-portfolio {
    text-indent: 10px;
    color: rgb(5, 4, 28);
    padding-bottom: 1em;
    float: right;
    font-size: 9pt;
    text-indent: 0%;
    background-color: rgb(11, 233, 48);
    padding: 5px;
    border-radius: 5px;
}

.add-portfolio:hover {
    background-color: rgb(22, 211, 12);
}

.table-wrapper {
    margin-left: auto;
    margin-right: auto;
}

.table-wrapper thead {
    background-color: rgb(238, 129, 12);
    color: antiquewhite;
    text-align: left;
    text-indent: 10px;
}

.table-wrapper tfoot {
    background-color: rgb(238, 129, 12);
    color: antiquewhite;
    text-align: left;
    text-indent: 10px;
}

.table-wrapper td {
    background-color: rgb(10, 10, 63);
    color: antiquewhite;
    text-align: left;
    text-indent: 10px;
    font-size: 10pt;
    border-bottom-style: solid;
    border-bottom-width: 0.5px;
    border-bottom-color: rgb(238, 129, 12);
}

.products {
    background-color: rgb(196, 196, 235);
    height: 20px;
    float: left;
    padding: 0.5em;
    line-height: 20px;
    margin: 0.08em;
}

.products:hover {
    background-color: rgb(163, 163, 245);
}

.pro {
    color: rgb(3, 5, 24);
}