<div class="main-container">
    <!-- form title/heading here -->
    <div class="title">
        <span>Login</span>
    </div>
    <!-- form title/heading ends -->
    
    <!-- login form here -->
    <div>
        <form class="form-items" (ngSubmit)="onSubmit()"> 
            <div class="warning" *ngIf="error==true">
                <span>All fields are required!!!</span>
            </div>
            <div class="warning" *ngIf="incorrectError==true">
                <span>Email/password is incorrect!!!</span>
            </div>
            <div class="warning" *ngIf="internetError=='Login failed, try again' ">
                <span>Login failed, check internet connection</span>
            </div>
            <input type="email" name="email" placeholder="Email..." [(ngModel)]="email" /><br>
            <input type="password" name="password" placeholder="Password..." [(ngModel)]="password" /><br>
            <button type="submit" name="login">Login</button><br>
        </form>
    </div>
    <!-- login form ends -->
    <!-- create account link here -->
    <div class="link">
        <span>Don't have an account? 
            <a routerLink="['./']" (click)="signUp()" >Signup</a>
        </span>
        <!-- <hr> -->
    </div>
    
    <!-- create account ends -->
</div>