.main-container {
    width: 40%;
    height: 0px;
    padding-top: 80px;
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.title {
    margin-left: auto;
    margin-right: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 50px;
    font-size: 18pt;
    line-height: 50px;
    background-color: rgb(238, 129, 12);
    color: rgb(6, 6, 38);
}

.form-items {
    border-top-style: solid;
    border-top-color: rgb(6, 6, 38);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(10, 10, 63);
    padding: 2em;
}

.form-items form {
    font-size: 12pt;
    padding-top: 10px;
    padding-bottom: 50px;
}

input {
    width: 250px;
    height: 40px;
    background-color: rgb(30, 30, 72);
    color: rgb(202, 202, 223);
    border-style: none;
    border-radius: 10px;
    text-indent: 10px;
    margin-top: 10px;
    outline-style: none;
    font-size: 11pt;
}

input:focus {
    border-style: solid;
    border-color: rgb(238, 129, 12);
    border-radius: 10px;
    border-width: 1px;
    font-size: 12pt;
}

button {
    width: 160px;
    height: 40px;
    background-color: rgb(238, 129, 12);
    color: rgb(17, 17, 17);
    border-style: none;
    border-radius: 10px;
    margin-top: 15px;
    outline-style: none;
    font-size: 13pt;
    margin-bottom: 1em;
}

button:hover {
    background-color: rgb(238, 102, 12);
}

.link {
    padding-top: 10px;
    padding-bottom: 80px;
    margin-left: auto;
    margin-right: auto;
    font-size: 10pt;
}

.link span a {
    text-decoration: none;
    color: rgb(238, 129, 12);
}

.warning {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(216, 126, 126);
    color: rgb(119, 0, 0);
    font-size: 11pt;
    width: 260px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}

.success {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(138, 209, 144);
    color: rgb(2, 77, 27);
    font-size: 11pt;
    width: 260px;
    height: 30px;
    line-height: 30px;
    border-radius: 10px;
}