<div class="wrapper">
    <div class="outline">
        <div class="outline-inner">
            <!-- Welcome text  -->
            <h3> Welcome To <span class="trading-engine">Trading Engine</span></h3>
            <!-- Welcome text ends -->
            <!-- link to the dashboard -->
            <a routerLink="/dashboard">
                <div class="dash-button">
                    <span class="dashboard">GO TO DASHBOARD</span>
                </div>
            </a>
            <!-- link to the dashboard ends -->
        </div>
    </div>
</div>