/* You can add global styles to this file, and also import other style files */

body {
    margin: 0 auto;
    background-color: rgb(6, 6, 38);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container {
    width: 80%;
    margin: 0 auto;
}

header {
    background-color: rgb(10, 10, 63);
    padding: 1em 0;
}

.container nav a {
    color: white;
}

a {
    text-decoration: none;
}

a.logo {
    font-weight: bold;
    color: rgb(238, 129, 12);
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    display: flex;
}

nav ul a {
    padding: 1em;
}

nav ul a:hover {
    background-color: rgb(20, 20, 89);
}