<div class="operation-container">
    <div class="buttons-cover">
        <a routerLink="['./']" (click)="logout()">
            <div class="buttons" style="background-color: red;">
                <span>Logout</span>
            </div>
        </a>
    </div>
    <div class="buttons-cover">
        <a routerLink="['./']" (click)="onOrder()">
            <div class="buttons">
                <span>Order</span>
            </div>
        </a>
    </div>
    <div class="user-logo">
        <div class="userlogo">
            <span>{{ clientdetail['fname'].charAt(0) }}</span>
        </div>
    </div>
    <div class="user">
        <div class="username">
            <span>{{ clientdetail['fname']+" "+clientdetail['lname'] }}</span>
        </div>
    </div>


</div>
<div class="outline">
    <div class="table-title">
        <span>Portfolio</span>
        <a routerLink="['./']" (click)="addProduct()">
            <div class="add-portfolio">
                <span>Add</span>
            </div>
        </a>
    </div>


    <a routerLink="['./']"  class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Dell</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>


</div>


<ng-template [ngIf]="whenclicked==true" [ngIfElse]="none">
    
        <div class="table-wrapper">
            <table width="80%">
                <thead>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Order Value</th>
                </thead>
                <tbody>
                    <td>Apple</td>
                    <td>10</td>
                    <td>$1.5</td>
                </tbody>
                <tbody>
                    <td>IBM</td>
                    <td>5</td>
                    <td>$3</td>
                </tbody>
                <tbody>
                    <td>HP</td>
                    <td>100</td>
                    <td>$1</td>
                </tbody>
                <tbody>
                    <td>Dell</td>
                    <td>6</td>
                    <td>$2</td>
                </tbody>
                <tfoot>
                    <th>Quantity</th>
                    <th>Price</th>
                    <th>Order Value</th>
                </tfoot>
            </table>
        </div>
    </ng-template>

    <div class="outline">
        <div class="table-title">
            <span>All Orders</span>
        </div>
        <div class="table-wrapper" >
            <table width="100%">
                <thead>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Unit Price</th>
                    <th>Ticker</th>
                    <th>Status ID</th>
                    <th>Quantity</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Order Type ID</th>
                    <!-- <th style="background-color: rgb(15, 173, 81);">Side</th> -->
                </thead>
                <tbody>
                    <tr *ngFor="let come of allOrders">
                        
                    <td>{{ counter }}</td>
                    <td>{{come.orderId}}</td>
                    <td>{{come.price}}</td>
                    <td>{{come.ticker}}</td>
                    <td>{{come.status}}</td>
                    <td>{{come.quantity}}</td>
                    <td>{{come.dateCreated}}</td>
                    <td>{{come.dateModified}}</td>
                    <td>{{come.side}}</td>
                </tr>
                    <!-- <td style="background-color: rgb(15, 173, 81);">BUY</td> -->
                </tbody>
                <tfoot>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Unit Price</th>
                    <th>Ticker</th>
                    <th>Status ID</th>
                    <th>Quantity</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Order Type ID</th>
                    <!-- <th style="background-color: rgb(15, 173, 81);">Side</th> -->
                </tfoot>
            </table>
        </div>
    </div>

<!-- adding to portfolio -->
<ng-template [ngIf]="whenclicked==false" [ngIfElse]="none">
    <div class="outline">
        <div class="addsome">

        </div>
    </div>
</ng-template>
<!-- adding to portfolio ends -->


<div class="outline" *ngIf="orderBringform==true">
    <div class="addsome">
        <div class="table-title">
            <span>Make Order</span>
        </div>
        <form (ngSubmit)="onSubmitOrder()"> 
            <select name="ticker" [(ngModel)]="ticker" >
                <option value="MSFT">MSFT</option>
                <option value="NFLX">NFLX</option>
                <option value="GOOGL">GOOGL</option>
                <option value="APPL">APPL</option>
                <option value="TSLA">TSLA</option>
                <option value="IBM">IBM</option>
                <option value="ORCL">ORCL</option>
                <option value="AMZN">AMZN</option>
            </select>&nbsp;
        <input type="text" name="price" [(ngModel)]="price" placeholder="price"><br>
            <input type="text" name="quantity" [(ngModel)]="quantity" placeholder="quantity">&nbsp;
            <select name="side" [(ngModel)]="side" >
                <option value="BUY">Buy</option>
                <option value="SELL">Sell</option>
            </select><br>
            <button type="submit">Submit</button>&nbsp;
        </form>
    </div>
</div>


<ng-template #none>

</ng-template>