<div class="operation-container">
    <div class="buttons-cover">
        <a routerLink="['./']" (click)="logout()">
            <div class="buttons" style="background-color: red;">
                <span>Logout</span>
            </div>
        </a>
    </div>
    <div class="buttons-cover">
        <a routerLink="['./']" (click)="onOrder()">
            <div class="buttons">
                <span>Place Order</span>
            </div>
        </a>
    </div>
    <div class="buttons-cover">
        <a routerLink="['./']" (click)="brindOrdersTable()">
            <div class="buttons">
                <span>View Orders</span>
            </div>
        </a>
    </div>
    <div class="user-logo">
        <div class="userlogo">
            <span>{{ clientdetail['fname'].charAt(0) }}</span>
        </div>
    </div>
    <div class="user">
        <div class="username">
            <span>{{ clientdetail['fname']+" "+clientdetail['lname'] }}</span>
        </div>
    </div>

</div>
<div class="outline">
    <div class="table-title">
        <span>Portfolio</span>
        <a routerLink="['./']" (click)="addProduct()">
            <div class="add-portfolio">
                <span>Add</span>
            </div>
        </a>
    </div>


    <a routerLink="['./']"  class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Dell</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Mac</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Emmanuel</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>HP Pavilion</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Desktop Machine</span>
        </div>
    </a>
    <a routerLink="['./']" class="pro" (click)="clicking()">
        <div class="products">
            <span>Main Frame Computer</span>
        </div>
    </a>


</div>


<ng-template [ngIf]="whenclicked==true" [ngIfElse]="none">
    
</ng-template>

    
    <div class="outline" *ngIf="BringOrdersTable==true">
        <div class="table-title">
            <span>All Orders</span>
        </div>
        <ng-template #none>
            <span style="text-align: center; color: white; font-size: 13pt; margin-left: 10px;">
                No order made,  please place an order
                <a style="color:rgb(238, 129, 12);" (click)="onOrder()" routerLink="['/']"> Here</a>
            </span>
        </ng-template>
        <ng-template [ngIf]=" allOrders!='' " [ngIfElse]="none">
        <div class="table-wrapper">
            <table width="100%">
                <thead>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Unit Price</th>
                    <th>Ticker</th>
                    <th>Status ID</th>
                    <th>Quantity</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Order Type ID</th>
                    <!-- <th style="background-color: rgb(15, 173, 81);">Side</th> -->
                </thead>
                <tbody>
                    <tr *ngFor="let come of allOrders; let i = index">
                        
                    <td>{{ i+1 }}</td>
                    <td>{{come.orderId}}</td>
                    <td>{{come.price}}</td>
                    <td>{{come.ticker}}</td>
                    <td>{{come.status}}</td>
                    <td>{{come.quantity}}</td>
                    <td>{{come.dateCreated|date:'medium'}}</td>
                    <td>{{come.dateModified|date:'medium'}}</td>
                    <td>{{come.side}}</td>
                </tr>
                    <!-- <td style="background-color: rgb(15, 173, 81);">BUY</td> -->
                </tbody>
                <tfoot>
                    <th>#</th>
                    <th>Order ID</th>
                    <th>Unit Price</th>
                    <th>Ticker</th>
                    <th>Status ID</th>
                    <th>Quantity</th>
                    <th>Created Date</th>
                    <th>Modified Date</th>
                    <th>Order Type ID</th>
                    <!-- <th style="background-color: rgb(15, 173, 81);">Side</th> -->
                </tfoot>
            </table>
        </div>
        </ng-template>
    </div>

<!-- adding to portfolio -->
<ng-template [ngIf]="whenclicked==false" [ngIfElse]="none">
    <div class="outline">
        <div class="addsome">

        </div>
    </div>
</ng-template>
<!-- adding to portfolio ends -->


<div class="outline" *ngIf="BringOrdersTable==false">
    <div class="addsome">
        <div class="table-title">
            <span>Make Order</span>
        </div>
        <div class="warning" *ngIf="emptyInput==true">
            <span>All fields are required!!!</span>
        </div>
        <div class="form-items">
        <form (ngSubmit)="onSubmitOrder()"> 
            <label>Select Ticker</label><br>
            <select name="ticker" [(ngModel)]="ticker">
                <option value="MSFT">MSFT</option>
                <option value="NFLX">NFLX</option>
                <option value="GOOGL">GOOGL</option>
                <option value="APPL">APPL</option>
                <option value="TSLA">TSLA</option>
                <option value="IBM">IBM</option>
                <option value="ORCL">ORCL</option>
                <option value="AMZN">AMZN</option>
            </select><br>
            <label>Choose Side</label><br>
            <select name="side" [(ngModel)]="side" >
                <option value="BUY">Buy</option>
                <option value="SELL">Sell</option>
            </select><br>
        <label>Enter Price ($)</label><br>
        <input type="number" min="1" name="price" [(ngModel)]="price" ><br>
        <label>Select Quantity</label><br>
        <input type="number" min="1" name="quantity" [(ngModel)]="quantity" ><br>
            <button type="submit">Submit</button>
        </form>
    </div>
    <div class="success-message">
        <span style="color: yellowgreen;" *ngIf="chooseMessage==true">{{ successMessage }}</span>
        <span style="color: rgb(233, 28, 14);" *ngIf="chooseMessage==false">{{ successMessage }}</span>
        <span style="color: rgb(229, 235, 247);" *ngIf="chooseMessage==null"> {{ successMessage }}</span>
    </div>
    </div>
</div>

<ng-template #none>

</ng-template>

<div class="footer">
    
</div>